{% extends 'polls/base.html' %}

{% block content %}
    <div class="row mt-3">
        <div class="col-12 mx-auto text-center">
            <h1 class="h3">{{ question.question_text }}</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-5 mx-auto">
            {% if error_message %}
            <div class="alert alert-danger text-center" role="alert">
                {{ error_message }}
            </div>
            {% endif %}            
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'polls:vote' question.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {% for choice in question.choice_set.all %}
                            <div class="form-check mb-1">
                                <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                <label class="form-check-label" for="choice{{ forloop.counter }}">
                                    {{ choice.choice_text }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">Проголосовать <i class="fas fa-check"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}