{% extends 'polls/base.html' %}

{% block content %}
    <div class="row mt-3">
        <div class="col-5 mx-auto text-center">
            <h1 class="h3">Доступные опросы</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-5 mx-auto">
            {% if last_questions %}
            <div class="list-group">
                {% for question in last_questions %}
                <a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">
                    <div class="d-flex justify-content-between align-items-center">
                        {{ question.question_text }}
                        <i class="text-primary fas fa-chevron-circle-right"></i>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-info text-center" role="alert">
                Вопросов пока нет 🙃
            </div>
            {% endif %}  
        </div>
    </div>
{% endblock %}