{% extends 'polls/base.html' %}

{% block content %}
    <div class="row mt-3">
        <div class="col-12 mx-auto text-center">
            <h1 class="h3">{{ question.question_text }}</h1>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-5 mx-auto">
            <ul class="list-group">
                {% for choice in question.choice_set.all %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                            {{ choice.choice_text }}
                        <span class="badge badge-primary badge-pill">{{ choice.votes }}</span>    
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-5 mx-auto text-center">
            <a role="button" class="btn btn-primary" href="{% url 'polls:detail' question.id %}">Хочешь еще?</a>
        </div>
    </div>
            

{% endblock %}