{% extends 'polls/base.html' %}

{% block content %}
    <div class="row mt-5">
        <div class="col-5 mx-auto text-center">
            <h1>404</h1>
            <p class="h5">Я ничего не смог найти 🙁</p>
        </div>
    </div>
{% endblock %}