{% extends 'polls/base.html' %}

{% block content %}
    <div class="row mt-5">
        <div class="col-5 mx-auto text-center">
            <h1>500</h1>
            <p class="h5">Что-то пошло не так 🙁</p>
        </div>
    </div>
{% endblock %}